{% extends "index.html" %}

{% block title %}<title>Фильмы</title>{% endblock %}

{% block body %}
<div class="body_container">
    <table id="table">
        <thead>
            <tr>
                <th class="sortable" data-sort="movie_title">Название фильма</th>
                <th class="sortable" data-sort="movie_date">Дата выхода</th>
                <th class="sortable" data-sort="movie_director">Режиссёр</th>
                <th class="sortable" data-sort="movie_actors">Актёры</th>
            </tr>
        </thead>
        <tbody class="movies_rows">
            [% for movie in movies.results %]
            <tr class="movie_row">
                <td><a object_id="[[ movie.id ]]" href="?api_url=movie-[[ movie.id ]]">[[ movie.movie_title ]]</a></td>
                <td>[[ movie.movie_date ]]</td>
                <td>
                    [% for director in movie.movie_directors %]
                        <a object_id="[[ director.id ]]" href="?api_url=director-[[ director.id ]]">[[ director.director_name ]]</a><br>
                    [% endfor %]
                </td>
                <td>
                    [% for actor in movie.movie_actors %]
                        <a object_id="[[ actor.id ]]" href="?api_url=director-[[ actor.id ]]">[[ actor.actor_name ]]</a><br>
                    [% endfor %]
                </td>
            </tr>
            [% endfor %]
        </tbody>
    </table>
    <div class="loader_bar"></div>
    <div class="pagination">
        <p>[[ movies.page ]] из [[ movies.last_page ]] страниц</p>
        [% if movies.previus != null %]
            <span class="step_links">
                <a href="[[ movies.previous ]]">Предыдущая</a>
            </span>
        [% endif %]
        <span class="step_links">
            <a href="[[ movies.next ]]">Следующая</a>
        </span>
        <span class="step_links"></span>
        <span class="step_links">
            <a href="http://127.0.0.1:8000/movies-api?page=[[ movies.last_page ]]">Последняя</a>
        </span>
    </div>
    <br>
    <div class="movie-filters">
        <p>Фильтр:</p>
        <table>
            <tbody>
                <tr>
                    <td>Год выпуска</td>
                    <td>Режиссёр</td>
                    <td>Актёр</td>
                </tr>
                <tr>
                    <td><input class="year-filter" param="year" type="date"></td>
                    <td><input class="director-filter" param="director" type="text"></td>
                    <td><input class="actor-filter" param="actor" type="text"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <button class="accept-filters-btn" disabled="true">Применить фильтр</button>
        <button class="reset-filters-btn" disabled="true">Сбросить фильтр</button>
    </div>
    <p><a href="create-movie">Добавить фильм</a> <a href="create-director">Добавить режиссёра</a> <a href="create-actor">Добавить актёра</a></p>
</div>
{% endblock %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'scripts/main.js' %}"></script>
    <script>
        let custom_tags_class = new ObjectToHTML();
        movies = new ListViewAPIRequest({
            api_url: `${window.location.origin}/movies-api`,
            success: (response)=>{
                console.log(response)
                custom_tags_class.tag_processing();
            }
        });
        movies.get_object_list();
    </script>
{% endblock %}