{% extends "index.html" %}

{% block title %}
    {% if update %}
        <title>{{ object.movie_title }} - Редактирование</title>
    {% else %}
        <title>Добавить фильм</title>
    {% endif %}
{% endblock %}

{% block body %}
{% if update %}
<h1>{{ object.movie_title }} - Редактирование</h1>
{% else %}
<h1>Добавить новый фильм</h1>
{% endif %}
    <form action="" method="post">
        <table>
            <tbody>
                {% csrf_token %}
                <tr>
                    <td>Название фильма: </td>
                    <td>{{ form.movie_title }}</td>
                </tr>
                <tr>
                    <td>Дата выхода: </td>
                    <td><input type="date" name="movie_date" value="{{ object.movie_date|date:'Y-m-d' }}" required="" aria-invalid="true" id="id_movie_date"></td>
                </tr>
                <tr>
                    <td>Режиссёр: </td>
                    <td>
                        <select name="movie_director" required="" id="id_movie_director">
                            {% for director in form.movie_director %}
                                {{ director }}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Актёры: </td>
                    <td>
                        {{ form.movie_actors }}
                    </td>
                </tr>
            </tbody>
        </table>
    {% if update %}
        <button type="submit">Сохранить</button>
    {% else %}
        <button type="submit">Добавить фильм</button>
    {% endif %}
    </form>
{% endblock %}