{% extends "index.html" %}

{% block title %}<title>[[ movie.movie_title ]]</title>{% endblock %}

{% block body %}
    <h1>[[ movie.movie_title ]]</h1>
    <p>Дата выхода: [[ movie.movie_date ]]</p>
    <p>[[ some_content ]]</p>
    <p>[[ some_content_2 ]]</p>
    <p>
        [% for some in movie.movie_actors %]
            <p>[[ some_test ]]</p>
            <p>test [[ some ]]</p>
            <p>test [[ some.actor_name ]]</p>
        [% endfor %]
    </p>
    <p>Режиссёр: 
        [% for director in movie.movie_directors %]
            <a director_id="[[ director.id ]]" href="director-[[ director.id ]]">[[ director.director_name ]]</a>
        [% endfor %]
    </p>
    <p>Актёры:
    [% for actor in movie.movie_actors %]
        <a actor_id="[[ actor.id ]]" href="actor-[[ actor.id ]]">[[ actor.actor_name ]]</a>
    [% endfor %]
    </p>
    <p><a href="update-movie-{{ movie.pk }}">Изменить</a> <a href="delete-movie-{{ movie.pk }}">Удалить</a></p>
    <p><a href="/">Главная</a></p>
{% endblock %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'scripts/detail_update_apis_requests.js' %}"></script>
    <script>
        let object_detail_request_url = sessionStorage.getItem('request_object_url');
        var movie;

        if (object_detail_request_url !== undefined) {
            
            let custom_tags_class = new ObjectToHTML();
            movie = new DetailViewAPIRequest({
                api_url: `api/${object_detail_request_url}`,
                success: (response)=>{
                    custom_tags_class.tag_processing();
                }
            });
            movie.get_object();
        }
    </script>
{% endblock %}